<!--ADD EMPLOYEE MODEL-->

<div *ngIf="isModalVisible">
  <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" style="display: flex">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">-&#45;&#45;Add New Employee:-&#45;&#45;</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">x</button>

        </div>

        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="mb-3">
              <label for="departmentId" class="form-label">Department_id</label>
              <input type="text" class="form-control" id="departmentId" placeholder="Department-id">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
